#adminProductBuy{
  .q-img {
    background-size: contain;
    background-repeat: no-repeat;
    max-width:400px;
  }

  .q-slider__pin-text-container span{
    font-size: 1.1rem
  }

  .q-item{
    padding: 0;
  }
}